#profile_name{
    font-style: italic;
    font-size: 50px;
}
.profile_description{
    font-size: 30px;
}
#profile_email{
    width: fit-content;
    display: inline-block;
}
.profile_description_label{
    color: rgb(150, 148, 148);
    font-style: italic;
}
#profile_apresentantion{
    width: fit-content;
    display: inline-block;
}
#linkGetBack{
    width: fit-content;
    position: absolute;
    right: 0;
    top: 0;
}