<div class="alert alert-danger">
    <p style="font-size: 20px;">Senha inválida, por favor tente novamente.</p>
    <a href="/work/changePerfil">
        <button class="btn btn-primary">
            Tentar novamente
        </button>
    </a>
        <br><br>
        <p>
            Precisando de ajuda com algum erro? Entre em contato com a gente
            <a href="/contatos">clicando aqui.</a>
        </p>
</div>