<div class="alert alert-danger">
    <h2>Ocorreu um erro:</h2>
    <p style="font-size: 20px;">{{msg}}</p>
    <a href="/login/createAccount">
        <button class="btn btn-primary">
            Tentar novamente
        </button>
    </a>
        <br>
    <a href="/contatos">
        <button class="btn btn-primary mt-2">
            Dificuldade em criar uma conta?
            Tenha contato com nós por aqui.
        </button>
    </a>

</div>