/*Criando as animações*/

    .chat{
        position: absolute;
        top: 0;
        left: -100vw;
        width: 100%;
        transition: 3s;
    }
    .chat_close{
        left: -100vw;
    }

    .chat_open{
        left: 0vw;
    }


    .main{
        transition: 3s;
    }
    .main_none{
        transition: 3s;
        opacity: 0;
    }

    @keyframes closeMain{
        from{
            opacity: 1;
        }
        to{
            opacity: 0;
        }
    }

/*Fim das animações de abrir chat*/

#chatCointaner .btnActionChat{
    width: fit-content;
}

.chat_title{
    width: fit-content;
    display: inline-block;
    font-size: 20px;
}
#messagesShow{
    overflow-y: scroll;
    height: 55vh;
    border: solid black 1px;
    text-align: center;
}
#listMsg{
    list-style-type: none;
}
.msg_cointaner{
    position: relative;
    width: 100%;
    background-color: rgb(0, 217, 255);
    padding: 1px;
    margin: auto;
    border-radius: 20px;
}
.msg_cointaner .msg_text{
    font-size: 25px;
    color: white;
}
.msg_cointaner .msg_user_name{
    color: rgb(73, 73, 73);
    font-size: 20px;
    font-style: italic;
}

.newUserConnectionCointaner p{
    font-size: 30px;
    font-style: italic;
    color: rgb(185, 185, 185);
}
.userDisconnectedCointaner p{
    font-size: 30px;
    font-style: italic;
    color: rgb(201, 26, 26);
}

#listMsg{
    text-align: center;
}

.main_user_links{
    border-radius: 20px;
}



.main{
    position: relative;
}
.buttonsChoices{
    position: absolute;
    display: inline-block;
    width: 20%;
    right: 5%;
}
.titUserChoices{
    text-align: center;
    font-style: italic;
}
.buttonsChoices .btnUserChoice{
    width: 100%;
}
.changeSizeMain{
    display: block;
}

.main_user_links{
    height: 70vh;
}

.notificationsScroll{
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    text-align: center;
    background-color: rgb(250, 250, 250);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.notificationsList{
    list-style: none;
}

.notificationsNumber{
    margin-left: 20px;
}


@media (max-width: 700px){
    .chat_title{
        text-align: center;
    }
    .buttonsChoices{
        bottom: 5%;
        left: 0%;
    }
    .main_user_links{
        height: 110vh;
    }
    .notificationsScroll{
        height: 40%;
        width: 100%;
    }
    .buttonsChoices{
        width: 100%;
        text-align: center;
    }
    .questionWhatWantToDo, .welcome_title{
        text-align: center;
    }
    .notificationsNumber{
        margin-left: 0px;
        text-align: center;
    }
}