<link rel="stylesheet" href="apresentation/home.css">

<h1 style="text-align: center;">
    <span class="citation">"Comece a trabalhar conectado hoje mesmo!"</span>
</h1>

<div class="card mt-4 regular shadow card_enter">
    <div class="card-body">
        <h2>Crie uma conta em 5 minutos.</h2>

        <a href="/login/createAccount">
            <button class="btn btn-primary mt-2">
                Criar conta
            </button>
        </a>
            <br>
            <br>
        <small style="font-size: 15px;" style="margin-top: 20px;">
            Já tem uma conta? Faça o login <a href="/login/enter">clicando aqui</a>
        </small>
        
    </div>
</div>

<footer>
    <p style="text-align: center; font-size: 20px; margin-top: 10%">&copy; Easy Work</p>
</footer>

<script src="apresentation/home.js"></script>