<div class="alert alert-danger">
    <p style="font-size: 20px;">{{msg}}</p>
    <a href="/login/enter">
        <button class="btn btn-primary">
            Tentar novamente
        </button>
    </a>
        <br>
    <a href="/login/createAccount">
        <button class="btn btn-primary mt-2">
            Não tem uma conta? Crie aqui.
        </button>
    </a>
</div>