<div class="alert alert-danger" style="text-align: center;">
    <h1>Ocorreu algum erro no nosso servidor</h1>
    <h2>Tente novamente ou <a href="/contatos">entre em contato com a gente.</a></h2>
</div>